.mt-i{
.mae{
    display: flex;
    flex-direction: column;
    background-color: #e2dede;
    
}
.cabeçalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -8px;
    border-bottom:0px;
    background-color: #EDEDED;
    width: 100%;
    box-shadow: 2px 5px 5px #A59F9F;
height: 80px;
}
.caixa{
    margin-top: 15px;
    border-radius: 5px;
    height: 50px;
    width: 500px;
    height: 40px;
box-shadow: 2px 5px 5px #A59F9F;
margin-bottom: 15px;
border: 0px;
}
.btn1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1498D5;
    border-radius: 5px;
    height: 30px;
    width: 130PX;
    border: none;
    color: whitesmoke;
    margin-top: 10px;
    font-family: "fonte1";
    font-size: 16px;
}
.btn2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1498D5;
    border-radius: 5px;
    height: 30px;
    width: 100PX;
    border: none;
    color: whitesmoke;
    margin-top: 10px;
font-family: "fonte1";
font-size: 16px;
margin-left: 20px;
}
.btn2:hover{
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}
.btn1:hover{
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}
.card{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#1498D5;
    border-radius: 5px;
    width: 130px;
    height: 30px;
    color:whitesmoke ;
    font-family: "fonte1";
}
.card-2{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#1498D5;
    border-radius: 5px;
    width: 130px;
    height: 30px;
    color:whitesmoke ;
    font-family: "fonte1";
}
.imag{
    margin-top: 30px;
    height: 150px;
    width: 230px;
}
h1{
font-size: 16px;
font-family: fonte1;
}
.ali{
display: flex;
flex-direction: row;
margin-top: 10px;
}
.quad{
display: flex;
justify-content: center;
align-items: center;
background-color:#039cd8 ;
height: 50px;
}
.quad-2{
background-color: #E4E4E4;
display: flex;
justify-content: center;
align-items: center;
width:170px;
height: 50px;
}
.btns{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 10px;
margin-right: 20px;
}
a{
font-family: "fonte1";  
}
.a1{
color: black;
}
p{
color: #ffff;
font-size: 16px;
font-family: "fonte1";
margin-left: 5px;
margin-right: 5px;
}
.anuncio{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #A59F9F;
    background-color: #ffff;
}
.anuncio-2{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 5px 5px #A59F9F;
    background-color: #ffff;
    border-radius: 5px;
    transition: all 0.5;
    cursor: pointer;
}
.anuncio-2:hover{
-webkit-transform: scale(1.01);
transform: scale(1.01);
}
.anuncio:hover{
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}
.anuncio-5{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 5px 5px #A59F9F;
    background-color: #ffff;
    border-radius: 5px;
}
.anuncio-5:hover{
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}
.faixa-1{
margin-top: 50px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}
.faixa-2{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
justify-content: space-evenly;
align-items: center;

    }
    .faixa-3{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    justify-content: space-evenly;
        }
.seta{
height: 100px;
width: 100px;
display: flex;
align-items: center;
justify-content: center;
border: none;

margin-right: 10px;
border-radius: 100%;
}
.img-seta{
height: 20%;
width: 5%;
border-radius: 100%;

}
.log{
height: 250%;
width: 10%;
}

.card-3{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#1498D5;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    color:whitesmoke ;
    font-family: "fonte1";   
}
@media (max-width: 480px){
.seta{display: none;}
.img-seta{display: none;} 
.anuncio-2{ 
height: 6%;
width: 40%;}
.btns{
display: flex;
flex-direction:row;
}
.anuncio{
display: none;
}
.anuncio-5{
display: none;
}
.imag{
height: 100%;
width: 100%;
}
.caixa{
width: 30%;
}
.btns{
    width: 45%;
}
.btn1{
    width: 60%;
}
.btn2{
    margin-left: 10px;
    width: 40%;
}
.log{
    height: 100%;
    width: 20%;
}
.cabeçalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
}
}